.main{display:flex;justify-content:center}
.page{width:80%;padding-top:20px;}

.leftBar{width:200px;float:left;}
.lb-section{background: white;border:1px solid #cfcfcf;margin-bottom:20px;border-bottom:none;}
.lb-sec-head{line-height:2;padding:0 15px;border-bottom:1px solid #cfcfcf;font-weight:bold;}
.lb-sec-item{height:70px;cursor:pointer;border-bottom:1px solid #cfcfcf}
.lb-sec-item:hover{opacity:0.8;}
.lb-sec-item>img{width:100px;height:70px;float:left;}
.lb-sec-item-text{padding-left:110px;height:70px;line-height:70px;}

.content{margin-left:220px;}
.section{background: white;border:1px solid #cfcfcf;margin-bottom:20px;}
.section-header{font-size:1.2em;line-height:2.4;padding:0 15px;border-bottom:1px solid #cfcfcf;font-weight:bold;}
.section-header>a{float:right;margin-left:10px;}
.srow{display:flex;margin:20px 0;padding:0 10px;}
.scell{width:20%;padding:0 10px;}
.scell-img{width:100%;height:0px;padding-bottom:133%;background-size:100% 100% !important;border:1px solid #cfcfcf;}
.scell-img:hover{opacity:0.8;cursor:pointer;}
.scell-info{text-align:center;word-wrap:break-word;height:20px;line-height:20px;overflow:hidden;}