/*custom bootstrap style*/

body{margin:0px;padding: 0px;background: #f0f0f0;color:#393939;}
.topBar{background:white;height:60px;border-bottom: 1px solid #cfcfcf;padding:0 100px 0 30px;}
.topBar-item{float:left;height: 100%;margin:0 10px;}
.topBar-item.right{float:right;}
.topBar-item.align-center{display: flex;align-items: center;justify-content: center}
.logo{width:auto;height:100%;}
.logo:hover{cursor:pointer;}
.logo-text{font-size: 1.8em;font-weight: bold;text-shadow: 2px 2px 2px grey;}
.search-frame{border:3px solid red;background:red;}
.search{border:none;outline:none;padding:5px 0 5px 5px;}
.search-btn{padding:0 5px;color:white;cursor:pointer;}