body{font-family: "微软雅黑";box-sizing: border-box;}
.content{display:flex;flex-direction:column;align-items:center;}

.playSec{width:1024px;height: 550px;margin:20px 0;position: relative}
.play-left{width:800px;height:100%;position:absolute;border:5px solid black;}
.play-right{right:0;width:224px;height:100%;position:absolute;border:5px solid black;border-left:none;}
.vpost{position:absolute;width: 100%;height: 100%; z-index:1; background-size:100% 100% !important; background-repeat: no-repeat !important;}
.vpost-btn{cursor:pointer;}
.vpost-btn:hover{opacity:0.7;}
.vplay{background: black;width: 100%;height: 100%;}
:-webkit-full-screen{ width: 100% !important;height: 100% !important;}
:-moz-full-screen{width: 100% !important;height: 100% !important;}
:-ms-fullscreen{width: 100% !important;height: 100% !important;}
:fullscreen {width: 100% !important;height: 100% !important;}
.vctrl{position: absolute; bottom: 0; width: 100%; height:40px; background: transparent; padding-top:4px;margin-bottom: -5px;color:rgba(255,255,255,0.6);background:rgba(0,0,0,0.6);}
.progressBar{position:absolute;left:10px; right:10px; top:0; height:4px;background-color: #cccccc;cursor: pointer;}
.bufferBar{position: absolute;width:0;height:100%;background-color:gray;}
.timeBar {position: absolute;width: 200px;height:100%;background-color:darkgreen;}
.timeBar:before{content: "";width: 12px;height: 12px;background: dodgerblue;position: absolute;right: -6px;border-radius: 50%;margin-top: -4px;}
.control-item{margin:0 10px;display:flex;justify-content:center;align-items:center;float:left;height:100%;}
.control-item.right{float:right;}
.btnPlay{font-size: 20px;cursor: pointer;}
.progressTime{font-size:14px;}
.muted{font-size: 20px;width: 20px;}
.volumeBar{position: relative;width: 100px;height:4px;margin-left: 10px;background-color: gray;cursor:pointer;}
.volume{position: absolute;width: 50%;height: 100%;background-color: #cccccc;}
.volume:before{content: "";width: 12px;height: 12px;background: white;position: absolute;right: -6px;border-radius: 50%;margin-top: -4px;}
.playSpeed{display:flex;justify-content:space-around !important;width: 100px;}
.playSpeed-item{height:25px;line-height: 25px;font-size: 12px;width: 30px;text-align: center;border:1px solid #cccccc;border-radius: 3px;cursor:pointer;}
.playSpeed-item.active{color: yellow;}
.fullscreen{font-size: 20px;cursor: pointer;}
.hideCtrl{font-size: 20px;cursor: pointer;}
/**/
.play-list{height:100%;width: 100%;display: flex;flex-direction: column;background: black;}
.plist-header{color:white;padding:10px;background:#292929;flex-grow:1;}
.plist-item{height: 80px;margin-top:3px;padding:5px 0;display: flex;cursor: pointer;background: #292929;position: relative;}
.plist-item:hover{opacity:0.8;}
.plist-item.playing{opacity:0.8;}
.plist-item>img{width: 120px;height: 70px;flex-shrink:0;flex-grow:0;}
.pitem-info{margin-left:5px;width: 100px;overflow: hidden;color:white;}
.pitem-label{position:absolute;bottom:5px;left:0;font-size: 0.8em;background: black;opacity: 0.7;color:white;}

.infoSec{width:1024px;padding:10px;background:white;border:1px solid #cfcfcf;}
.info-img{float: left;width: 120px;height: 160px;}
.info-text{margin-left:130px;}
.info-text-name{font-size: 1.2em;font-weight: bold;padding-bottom: 5px;}
.info-text-line{}

.pushSec{width:1024px;background:white;margin-top:20px;border:1px solid #cfcfcf;}
.push-header{font-size: 1.2em;font-weight: bold;padding:0 15px;line-height:2.4;border-bottom: 1px solid #cfcfcf;}
.push-row{display:flex;margin:20px 0;padding:0 10px;}
.push-cell{width:20%;padding:0 10px;}
.push-cell-img{width:100%;height:0px;padding-bottom:133%;background-size:100% 100% !important;}
.push-cell-img:hover{opacity:0.8;cursor:pointer;}
.push-cell-info{text-align:center;word-wrap:break-word;height:20px;line-height:20px;overflow:hidden;}

.commentSec{width:1024px;margin-top: 30px;}
.com-send{display: flex;flex-direction: column;}
.sc_label{font-size:16px;color: green;font-weight: bold;margin-bottom:10px;}
.sc_text{border: 1px solid green;padding: 5px;border-bottom: none;}
.sc_text:focus{outline: none;}
.sc_emotion{height: 28px;border:1px solid green;border-top:none;line-height: 28px;display: flex;align-items: center;padding-left: 3px;background: #e3e3e3;}
.sc_emotion img{cursor: pointer;}
#face_2{position: static !important;margin-top:-171px;margin-left:-27px;}
.qqFace{height:142px;z-index:1 !important;background:white;z-index: 1 !important;border: 1px solid gray;}
.qqFace img:hover{opacity:0.7;}
.sc_submit{align-self: flex-end;width:100px;height: 35px;background: green;line-height: 35px;color: white;text-align: center;cursor: pointer;margin-top: 10px;}
.sc_submit:hover{background: darkgreen;}
/**/
.com-list{display: flex;flex-direction: column;margin-top: 10px;padding: 20px;border: 1px solid #cccccc;}
.cl_header{font-size: 16px;margin-bottom: 10px;}
.cl_header a{text-decoration: none;color: green;}
.cl_header a:hover{color:darkgreen;}
.cl-item{padding: 10px; border-bottom: 1px solid #e1e2e5;}
.headImg{width:48px;height: 48px;border-radius: 50%;float:left;}
.item-content{margin-left:58px;}
.ic-header{height: 20px;margin-bottom: 4px;font-size: 12px;color:#7b838a;}
.ic-header .small{font-size: 12px;float: right;color:#acb4bb;}
.ic-main{line-height: 20px;font-size: 14px;}

.cl-pageControll{display:flex;justify-content: flex-end;height: 50px;align-items: center;}
.pg-btn{font-size: 14px;margin: 0 3px;letter-spacing:2px;}
.cl-pageControll .btn{margin:3px;outline:none !important;border-radius:0;}